# build output
dist

# dependencies
node_modules/
.snowpack/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Local Netlify folder
.netlify
netlify

#blog模板template.md
src/pages/blog/template.md
src/pages/blog/拖入md文件.bat
src/pages/blog/python_script.py
